---
import "./index.css";

import mapAttributes from "../../utilities/mapAttributes/index.ts";

const { label: lbl, type = "button", ...props } = Astro.props;

const attrs = mapAttributes(props, ["button", `button-${type}`]);

const label = (await Astro.slots.render("default")) || lbl;
---

<button {...attrs} {type}>{label}</button>
