---
import "./index.css";

import type { HTMLAttributes } from "astro/types";

export type Props = HTMLAttributes<"progress">;

const props = Astro.props;
---

<progress aria-hidden="true" max="100" value="0" {...props}>
	<span class="progress-bar">
		<span></span>
	</span>
</progress>

<script is:inline>
	function setScrollHandler() {
		const p = document.querySelector("progress");
		const s = document.querySelector(".progress-bar > span");
		const b = document.documentElement;

		function setPosition() {
			const v = Math.round(
				(b.scrollTop / (b.scrollHeight - b.clientHeight)) * 100,
			);

			p && p.setAttribute("value", `${v}`);
			s && (s.style.width = `${v}%`);
		}

		globalThis.addEventListener("resize", setPosition);
		document.addEventListener("scroll", setPosition);

		setPosition();
	}

	globalThis.addEventListener("DOMContentLoaded", setScrollHandler);
</script>
