---
import "./index.css";

import type { HTMLAttributes } from "astro/types";

import type { Meta } from "../../types.ts";

import getSiblingLinks from "./getSiblingLinks/";

export type Props = HTMLAttributes<"nav"> & {
  pages: Array<Meta>;
};

const { pages, ...props } = Astro.props;

const { pathname } = Astro.url;

const path = pathname.replace(/\/$/, "");
const parentPath = path.replace(/\/([^/]+)$/, "") || "/";

const parent = pages.find(page => page.href?.replace(/\/$/, "") === parentPath);

const attrs = Object.assign(
  {
    class: "sibling-links",
  },
  props
);

const children = parent?.children || [];

const { prev, next } = getSiblingLinks(parentPath, path, children);

const nextLink = pages.find(page => page.href?.replace(/\/$/, "") === next);
const prevLink = pages.find(page => page.href?.replace(/\/$/, "") === prev);

const left = await Astro.slots.render("prev");
const right = await Astro.slots.render("next");
---

<nav aria-label="Links to next and previous pages" {...attrs}>
  <ul>
    <li class="previous-link">
      {
        prevLink ? (
          <>
            <Fragment set:html={left} />
            <a href={prev} rel="prev">
              {prevLink?.link?.label || prevLink?.title}
            </a>
          </>
        ) : undefined
      }
    </li>
    <li class="next-link">
      {
        nextLink ? (
          <>
            <a href={next} rel="next">
              {nextLink?.link?.label || nextLink?.title}
            </a>
            <Fragment set:html={right} />
          </>
        ) : undefined
      }
    </li>
  </ul>
</nav>
