---
import "./index.css";

import type { HTMLAttributes } from "astro/types";

import generateShortId from "../../utilities/generateShortId/index.ts";

export type Props = HTMLAttributes<"section">;

const { id = generateShortId(), ...props } = Astro.props;
---

<section {id} {...props}>
  <slot name="title" />
  <slot />
</section>
