---
import "./index.css";

import Body from "../../html/Body/index.astro";
import Footer from "../../landmarks/Footer/index.astro";
import Head from "../../html/Head/index.astro";
import Header from "../../landmarks/Header/index.astro";
import Html from "../../html/index.astro";
import Main from "../../landmarks/Main/index.astro";

import generateShortId from "../../utilities/generateShortId";
---

<Html>
  <Head
    metadata={{
      canonical: "https://sitebender.io",
      description: "@munat/components documentation",
      title: "Munat Component Library",
    }}
    site="@munat/components"
  />
  <Body>
    <Header>
      <h1>Munat Component Library</h1>
    </Header>
    <Main>
      <p>Astro components in vanilla JS.</p>
      <p>{generateShortId()}</p>
    </Main>
    <Footer><p>Copyright 2024 Munat, Ltd.</p></Footer>
  </Body>
</Html>
