.field {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	justify-content: space-between;
	margin-bottom: var(--space-s, 1.5rem);
}

.field .label {
	align-items: flex-start;
	display: flex;
	flex-direction: column;
	font-weight: 400;
	justify-content: space-between;
}

.label-tag {
	font-size: var(--step-1, 1.25rem);
}

.help {
	color: var(--help-color, var(--color-code, #0e4e09));
	font-size: 1rem;
}

.field textarea {
	max-width: var(--page-width, 100%);
	width: 100%;
}

.field input,
.field select,
.field textarea {
	background-color: var(
		--field-background-color,
		var(--color-gray-1, #dfdfe2)
	);
	border: 2px solid
		var(--field-border-color, var(--color-gray-3, #a9a9b1));
	border-radius: 4px;
	box-sizing: border-box;
	color: var(--field-color, var(--color-gray-9, #131315));
	font-family: var(--font-body);
	font-size: var(--step-0, 1rem);
	line-height: 1.4;
	padding: 0.3rem 0.6rem;
}

.field input:focus,
.field select:focus,
.field textarea:focus {
	border: 2px solid
		var(--field-border-color-focus, var(--color-blue, #0095ff));
	color: var(--field-color-focus, var(--color-gray-8, #2c2c30));
	outline: 0;
}

.field:has(input:focus) .label,
.field:has(select:focus) .label,
.field:has(textarea:focus) .label {
	color: var(--field-label-color-focus, var(--color-link, #0d4872));
	font-weight: 600;
}

.field input:required,
.field select:required,
.field textarea:required {
	border: 4px double
		var(--field-required-border-color, var(--color-green-shaded, #0e4e09));
}

.field input:required:focus,
.field select:required:focus,
.field textarea:required:focus {
	border: 4px double
		var(--field-required-border-color-focus, var(--color-green, #4f3));
	outline-offset: 5px;
}

.field:has(input:required:focus) .label,
.field:has(select:required:focus) .label,
.field:has(textarea:required:focus) .label {
	color: var(
		--field-label-required-color-focus,
		var(--color-green-shaded, #0e4e09)
	);
	font-weight: 600;
}

.optional::before {
	content: "Optional: ";
	display: inline-block;
	margin-right: 0.5rem;
}

.field input[type="number"] {
	text-align: right;
}

.field input[type="color"] {
	all: revert;
	color: var(
		--field-color-input-color,
		var(--color-green-shaded, #0e4e09)
	);
	border-radius: 4px;
	min-height: 3rem;
}

.field label {
	position: relative;
}

.field:has(input[data-touched]:not(:invalid)) label .label-tag::before,
.field:has(select[data-touched]:not(:invalid)) label .label-tag::before,
.field:has(textarea[data-touched]:not(:invalid))
	label
	.label-tag::before {
	color: var(--field-label-tag-color-valid, var(--color-green, #4f3));
	content: "\2714";
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	margin-right: 0.75rem;
}

.field:has(input[data-touched]:invalid) label .label-tag::before,
.field:has(select[data-touched]:invalid) label .label-tag::before,
.field:has(textarea[data-touched]:invalid) label .label-tag::before {
	color: var(
		--field-label-tag-color-invalid,
		var(--color-fuchsia, #ea00ff)
	);
	content: "\2718";
	display: inline-block;
	font-size: 1.5rem;
	font-weight: 900;
	margin-right: 0.75rem;
}

.field input[data-touched]:invalid,
.field select[data-touched]:invalid,
.field textarea[data-touched]:invalid {
	border: var(
		--field-border-invalid,
		4px dashed var(--color-fuchsia, #ea00ff)
	);
}

.form:has(
		input[data-touched]:invalid,
		select[data-touched]:invalid,
		textarea[data-touched]:invalid
	)
	.button-bar
	.group[data-touched]::before {
	content: "Form not quite ready yet. See above. ";
	color: var(
		--form-button-bar-group-color,
		var(--color-fuchsia-shaded, #48094e)
	);
	margin-right: 1rem;
}

.form-alert-box {
	border-radius: 5px;
	color: var(--form-alert-box-color, var(--color-gray-9, #131315));
	position: relative;
	width: 100%;
}

.form-alert-box .form-message-box {
	border-radius: 5px;
	padding: var(--space-m, 1.25rem);
}

.form-alert-close-button {
	background-color: var(
		--form-alert-close-button-background-color,
		transparent
	);
	border: none;
	color: var(
		--form-alert-close-button-color,
		var(--color-blue-shaded, #0d4872)
	);
	font-size: 2rem;
	line-height: 1;
	min-height: 48px;
	min-width: 48px;
	padding: 0.25rem;
	position: absolute;
	right: 0.65rem;
	top: 0.75rem;
}

.form-alert-close-button:focus,
.form-alert-close-button:hover {
	outline: solid 2px
		var(
			--form-alert-close-button-outline-color,
			var(--color-blue-shaded, #0d4872)
		);
	border-radius: 5px;
	color: var(
		--form-alert-close-button-color-hover,
		var(--color-blue-shaded, #0d4872)
	);
}

.form-alert-box a,
.form-alert-box a:visited {
	color: var(
		--form-alert-box-link-color,
		var(--color-blue-shaded, #0d4872)
	);
}

.form .form-alert-box a:active,
.form .form-alert-box a:focus,
.form .form-alert-box a:hover {
	background-color: var(
		--form-alert-box-link-background-color-hover,
		var(--color-blue-shaded, #0d4872)
	);
	color: var(
		--form-alert-box-link-color-hover,
		var(--color-gray-0, #fafafa)
	);
}

.form-alert-box h2 {
	color: var(--form-alert-box-h2-color, var(--color-gray-9, #131315));
	margin: 0;
}

.form-issue {
	background-color: var(
		--form-issue-background-color,
		var(--color-gray-1, #dfdfe2)
	);
	border: var(
		--form-issue-border,
		4px dashed var(--color-fuchsia, #ea00ff)
	);
}

.form-success {
	background-color: var(
		--form-success-background-color,
		var(--color-green-tinted, #aaf5a3)
	);
	border: var(
		--form-success-border,
		4px solid var(--color-green-shaded, #0e4e09)
	);
}
