---
import "./index.css"

import type { HTMLAttributes } from "astro/types"

import Error from "../../../widgets/Error/index.astro"

export type Props = HTMLAttributes<"footer"> & {
	href?: string | undefined
	label?: string | undefined
	useMoreLink?: boolean | undefined
}

const { href, label, useMoreLink } = Astro.props
---

<footer class="card-footer">
	<slot />
	{href ? (
		useMoreLink ? (
			<a class="button-right" {href}>Read more
			<span class="sr-only">of “{label}”</span>{" "}
			<slot name="arrow" /></a>
		) : (
		<a class="button-right" {href}>{label} <slot name="arrow" /></a>
		)
	) : (
		<Error message="Missing link label!"} />
	)}
</footer>