---
import type { HTMLAttributes } from "astro/types";

import generateShortId from "../../../utilities/generateShortId";

export type Props = HTMLAttributes<"div"> & {};

const { id = generateShortId(), title, ...props } = Astro.props;

const content = await Astro.slots.render("default");
const heading = (await Astro.slots.render("title")) || title;

const hId = heading ? `${id}-heading` : id;

const attrs = Object.assign(
  {
    "aria-label": "This is the label to be read aloud.",
    "aria-roledescription": "slide",
    class: "slide",
    id,
    role: "status",
    tabindex: "0",
  },
  props
);
---

<div {...attrs}>
  {heading ? <h2 id={hId} set:html={heading} /> : undefined}
  <Fragment set:html={content} />
</div>
