.fieldset {
	border-radius: 5px;
	border: 1px solid var(--fieldset-border, var(--color-gray-1, #dfdfe2));
	padding: 1rem;
	width: 100%;
}

.fieldset-legend {
	border-radius: 5px;
	border: 1px solid
		var(--fieldset-legend-border, var(--color-gray-1, #dfdfe2));
	font-size: var(--step-1, 1.25rem);
	font-weight: 500;
	margin-left: 0.5rem;
	padding: 0.5rem;
}

.fieldset:focus-within {
	border-color: var(--fieldset-focus, var(--color-green-shaded, #0e4e09));
}

.fieldset:focus-within legend {
	border-color: var(
		--fieldset-legend-border-color-focus,
		var(--color-green-shaded, #0e4e09)
	);
	color: var(
		--fieldset-legend-color-focus,
		var(--color-green-shaded, #0e4e09)
	);
	font-variant-caps: all-small-caps;
}
